.sign-in {
  height: 120px;
  text-align: center;
  font-size: 14px;
  &_header {
    height: 55px;
    margin: 25px 0 40px;
  }
  &_new {
    width: 500px;
    background-color: white;
    margin: 0 auto;
    padding: 40px 0 40px;
    border-bottom: solid 2px whitesmoke;
    &_btn {
      margin-top: 20px;
      .new-registration {
        padding: 15px 135px;
        background-color: #3CCACE;
        margin-top: 20px;
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  &_input {
    width: 500px;
    background-color: white;
    margin: 0 auto;
    &_content {
      padding: 10px 40px 30px;
      width: 100%;
      .field {
        padding-top: 20px;
      }
      .inputbox {
        height: 48px;
        width: 300px;
        padding: 10px 10px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        line-height: 1.5;
        font-size: 14px;
        a {
          font-size: 14px;
        }
      }
    }

    .action {
      text-decoration: none;
      color: white;
      height: 55px;
      width: 350px;
      padding: 11px;
      background-color: #3CCACE;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 35px;
      border: none;
    }
    a {
      text-decoration: none;
      color: #0099e8;
    }
  }
  &_footer {
    margin-top: 25px;
  }
}