.download-banner
  .inner
    .inner_title だれでもかんたん、人生を変えるフリマアプリ
    .inner_text 今すぐ無料ダウンロード！
    .inner_icon
      .inner_icon_app
        = image_tag "app-store-badge.svg", width: "170px"
      .inner_icon_google
        = image_tag "google-play-badge.svg", width: "190px"