.header-area {
  background-color: white;
  padding: 20px 50px;
  &_top {
    max-width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &_icon {
      height: 35px;
      margin-right: 30px;
    }
    &_search {
      display: flex;
      width: 850px;
      &_form {
        width: 100%;
        height: 30px;
        background-color: white;
        border: solid 1px rgb(180, 180, 180);
        padding: 0 10px;
        line-height: 30px;
        font-size: 14px;
        color: grey;
      }
      &_btn {
        height: 30px;
        width: 30px;
        background-color: rgb(0, 200, 200);
        position: relative;
        &_icon {
          position: absolute;
          top: 5px;
          left: 5px;
          height: 18px;
          width: 18px;
          margin: auto;
        }
      }
    }
  }
  &_bottom {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        border: none;
      }
    }
    &_select {
      display: flex;
      a:hover {
        color: orange;
      }
      &_category {
      }
      &_brand {
        margin-left: 40px;
      }
    }
    &_user {
      display: flex;
      &_login {
      }
      &_new {
        margin-left: 20px;
      }
    }
  }
}