.show-item
  .show-item_name
  .show-item_img
    .show-item_img_main
      /link_to画像メイン
    .show-item_img_sub1
      /サブ画像1
    .show-item_img_sub2
      /サブ画像2
    .show-item_img_sub3
      /サブ画像3
  .show-item_price
    .show-item_price_value
      /商品価格
    .show-item_price_cost
      /(税込み)送料込みor送料負担 |select|string|null: false|
  .show-item_messge
  .show-item_detail
  /hamlに変換して使うbm
  .show-item_option
  .show-item_comment
  /コメント入力フォーム
  .show-item_migration
  /前・次ページへ移行
  .show-item_moreItems
  /hamlに変換して使うbm
  .show-item_advertisement
  /広告ページ