.main {
  &__top-banner {
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 560px;
    width: 100%;    
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 60px;
    &__container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__title-man {
        color: #ffffff;
        font-size: 60px;
        line-height: 1.2;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text-man {
        color: #ffffff;
        font-size: 18px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin-top: 16px;
        line-height: 1.8;
      }
      &__inner_icon {
        display: flex;
        margin-top: 24px;
        height: 53.33px;
        &__app {
          width: 170px;
          height: 100%;
        }
        &__app:hover img {
          opacity: 0.5;
          filter: alpha(opacity=50);
          -ms-filter: "icon(opacity=50)";
        }
        &__google {
          width: 180px;
          margin-left: 10px;
        }
        &__google:hover img {
          opacity: 0.5;
          filter: alpha(opacity=50);
          -ms-filter: "icon(opacity=50)";
        }
      }
    }
  }
  &__introduction {
    padding: 20px;
    .introduction {
      padding: 60px 20px;
      &__reason-for-chose {
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative; 
      }
      &__reason-for-chose::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &__reason-lists {
        .lists {
          text-align: center;
          display: flex;
          max-width: 1020px;
          width: 100%;
          margin: 0 auto 40px;
          &__list {
            width: 30%;
            margin: 16px 5% 0 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            &--picture {
              position: relative;
              margin-bottom: 20px;
              .number {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4%;
                font-size: 30px;
                text-align: center;
                margin: 0 5px 0 0;
                padding: 10px 20px;
                background-color: #3CCACE;
                color: #fff;
              }
              .reason-picture {
                width: 100%;
                vertical-align: bottom;
              }
            }
            &--text {
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              margin: 0 0 0 2px;
            }
            &--text span {
              color: #3CCACE;
            }
            &--discription {
              font-size: 18px;
              line-height: 1.5;
              margin: 16px 0 0 ;
            }
          }
          &__list-last {
            margin: 16px 0 0;
          }
        }
      }
    }
  }
  &__middle-banner {
    height: 400px;
    background-size: cover;
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    display: flex;
    align-items: center;
    &__container {
      color: #ffffff;
      text-align: left;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title-man {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text-man {        
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__inner_icon {
        display: flex;
        &__app:hover img {
          opacity: 0.5;
          filter: alpha(opacity=50);
          -ms-filter: "icon(opacity=50)";
        }
        &__google {
          padding-left: 10px;
        }
        &__google:hover img {
          opacity: 0.5;
          filter: alpha(opacity=50);
          -ms-filter: "icon(opacity=50)";
        }
      }
    }
  }

  &__feature {  
    padding: 60px 100px;
    background-color: #fff;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative; 
    }
    &__title::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__feature-lists {
      max-width: 1060px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      .list {
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__picture {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .feature-picture {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__discription {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  
  &__pic-up {
    padding-top: 80px;
    background-color: #f8f8f8;
    &__category {
      &__title{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__sub-title {
        text-align: center;
        font-size: 25px;
        color: rgb(59, 209, 223);
        font-weight: bold;
      }
    }
    &__brand {
      &__title{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__sub-title {
        text-align: center;
        font-size: 25px;
        color: rgb(59, 209, 223);
        font-weight: bold;
      }
    }
    &__content {
      width: 900px;
      margin: 0 auto 90px;
      display: flex;
      justify-content: space-around;
      .item {
        position: relative;
        &__image {
        }
        img {
          width: 220px;
          height: 160px;
          margin: auto 0;
        }
        &__body {
          background-color:#ffffff;
          height: 80px;
          padding: 0 10px;
          &__fee {
            font-size: 10px;
          }
        }
        &__sold-out {
          &__area {
            position: absolute;
            top: 0;
            width: 220px;
            height: 160px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 90px 90px 0 0;
            border-color: #3CCACE transparent transparent transparent;
          }
          &__text {
          position: absolute;
          top: 15px;
          color: white;
          font-size: 20px;
          font-weight: bold;
          transform: rotate(-45deg);
          }
        }
      }
    }
  }  
}