* {
  box-sizing: border-box;
}

html {
  background-color: rgb(245, 245, 245);
}

.buy-content {
  background-color: white;
  max-width: 635px;
  margin: auto;
  font-size: 13px;
  &_title {
    height: 90px;
    border-bottom: solid 1px rgb(245, 245, 245);
    text-align: center;
    line-height: 90px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(60, 60, 60);
  }
  &_item {
    height: 100px;
    border-bottom: solid 1px rgb(245, 245, 245);
    padding: 0 25%;
    margin-top: 30px;
    display: flex;
    &_image {
      width: 70px;
      height: 70px;
      background-color: black;
      margin-right: 20px;
    }
    &_detail {
      &_name {
        margin-bottom: 10px;
      }
      &_price {
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  &_info {
    padding: 0 25%;
    &_price {
      height: 85px;
      border-bottom: solid 1px rgb(245, 245, 245);
      margin-top: 35px;
      &_total {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 10px;
        &_text {
          font-size: 16px;
        }
        &_number {
          font-size: 20px;
        }
      }
      &_point {
        display: flex;
        &_square {
          width: 18px;
          height: 18px;
          background-color: rgb(200, 200, 200);
          border-radius: 2px;
          margin-right: 10px;
        }
        &_text {
          font-size: 12px;
          color: rgb(150, 150, 150);
        }
      }
    }
    &_pay {
      height: 70px;
      border-bottom: solid 1px rgb(245, 245, 245);
      margin-top: 25px;
      a {
        color: rgb(0, 162, 255);
        text-decoration: none;
        &:hover {
          color: rgb(0, 162, 255);
          border-bottom: solid 1px rgb(0, 162, 255);
        }
      }
    }
    &_address {
      height: 115px;
      border-bottom: solid 1px rgb(245, 245, 245);
      margin-top: 25px;
      a {
        color: rgb(0, 162, 255);
        text-decoration: none;
        &:hover {
          color: rgb(0, 162, 255);
          border-bottom: solid 1px rgb(0, 162, 255);
        }
      }
      &_top {
        display: flex;
        justify-content: space-between;
      }
    }
    &_purchase {
      height: 90px;
      margin-top: 30px;
      &_btn {
        height: 45px;
        background-color: grey;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 45px;
      }
    }
  }
}
.buy-bottom {
  height: 200px;
}