.regi-header3 {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_image {
    width: 170px;
  }
  &_progress {
    width: 270px;
    margin-left: 80px;
    &_text {
      display: flex;
      padding-left: 10px;
      font-size: 13px;
      color: #888;
      &_first {
        color: red;
      }
      &_second {
        padding-left: 38px;
        color: red;
      }
      &_complete {
        padding-left: 62px;
        font-weight: bold;
        color: red;
      }
    }
    &_bar {
      display: flex;
      justify-content: center;
      margin-top: 13px;
      margin-left: 32px;
      z-index: -1;
      &_left {
        width: 100px;
        height: 2px;
        background: red;
      }
      &_right {
        width: 95px;
        height: 2px;
        background: red;
      }
    }
    @mixin circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    &_circle {
      display: flex;
      justify-content: space-between;
      margin: -7px auto 0;
      padding-left: 41px;
      padding-right: 10px;
      &_first {
        @include circle;
        z-index: 2;
        background-color: red;
      }
      &_second {
        @include circle;
        z-index: 2;
        background-color: red;
      }
      &_complete {
        @include circle;
        z-index: 2;
        background-color: red;
      }
    }
  }
}

.create-account {
  background-color: white;
  margin: 0 auto 40px;
  max-width: 700px;
  height: auto;
  padding: 40px 120px;
  text-align: center;
  h2 {
  font-size: 22px;
  font-weight: bold;
  }
  &_btn {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    height: 55px;
    width: 350px;
    background-color: #ea352d;
    color: white;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 55px;
    border: none;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
  }
  &_footer {
    text-align: center;
  }
}




