.regi-header2 {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_image {
    width: 170px;
  }
  &_progress {
    width: 270px;
    margin-left: 80px;
    &_text {
      display: flex;
      padding-left: 10px;
      font-size: 13px;
      color: #888;
      &_first {
        color: red;
      }
      &_second {
        padding-left: 38px;
        font-weight: bold;
        color: red;
      }
      &_complete {
        padding-left: 62px;
        color: rgb(180, 180, 180);
      }
    }
    &_bar {
      display: flex;
      justify-content: center;
      margin-top: 13px;
      margin-left: 32px;
      z-index: -1;
      &_left {
        width: 100px;
        height: 2px;
        background: red;
      }
      &_right {
        width: 95px;
        height: 2px;
        background: rgb(180, 180, 180);
      }
    }
    @mixin circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    &_circle {
      display: flex;
      justify-content: space-between;
      margin: -7px auto 0;
      padding-left: 41px;
      padding-right: 10px;
      &_first {
        @include circle;
        z-index: 2;
        background-color: red;
      }
      &_second {
        @include circle;
        z-index: 2;
        background-color: red;
      }
      &_complete {
        @include circle;
        z-index: 2;
        background-color: rgb(180, 180, 180);
      }
    }
  }
}

.registration {
  background-color: white;
  margin: 0 auto 40px;
  max-width: 700px;
  height: auto;
  padding: 40px 120px;
  text-align: center;
  h2 {
  font-size: 22px;
  font-weight: bold;
  }
  &_footer {
    text-align: center;
  }
}
.form-title {
  height: 19px;
  min-width: 120px;
  margin-top: 25px;
  text-align: left;
  .box-form-explanaion {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  .indispensable {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 4px;
    margin-left: 8px;
    border-radius: 2px;
  }
  .indispensable_optional {
    background-color: rgb(175, 175, 175);
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 4px;
    margin-left: 8px;
    border-radius: 2px;
  }
}
.form-text {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.registration-form-field {
  font-size: 16px;
  height: 48px;
  width: 100%;
  padding: 0 16px;
  background-color: white;
  margin-top: 8px;
  border: solid 1px rgb(215, 215, 215);
  border-radius: 4px
}
.action {
  margin-top: 40px;
  height: 55px;
  width: 350px;
  background-color: #ea352d;
  color: white;
  margin-bottom: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

