=render "share/header"
.show-item
  .show-item_nav
    ="FRIMA  >  ベビー・キッズ  >  ベビー服(男女兼用) ~95cm  >  アウター  >  product3"
  .show-item_main
    .show-item_main_name
      ="product3"
    .show-item_main_img
      .show-item_main_img_main
        %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", width: '100%', class: 'item-image'}
      .show-item_main_img_sub
        .show-item_main_img_sub_content
          %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", width: '100%', class: 'item-image'}
        .show-item_main_img_sub_content
          %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", width: '100%', class: 'item-image'}
        .show-item_main_img_sub_content
          %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", width: '100%', class: 'item-image'}
    .show-item_main_price
      .show-item_main_price_value
        ¥2,000
      .show-item_main_price_cost
        (税込み)送料込み
    .show-item_main_message
      親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。
    .show-item_main_detail
      .show-item_main_detail_box
        .show-item_main_detail_box_header
          %table
            %tr
              %th 出品者
            %tr
              %th カテゴリー
            %tr
              %th ブランド
            %tr
              %th 商品のサイズ
            %tr
              %th 商品の状態
            %tr
              %th 配送料の負担
            %tr
              %th 発送元の地域
            %tr
              %th 発送日の目安
        .show-item_main_detail_box_data
          %table
            %tr
              %td hoge
            %tr
              %td ベビー・キッズ
            %tr
              %td
            %tr
              %td
            %tr
              %td 未使用に近い
            %tr
              %td 送料込み(出品者負担)
            %tr
              %td 岩手県
            %tr
              %td 4-7日で発送
          
  .show-item_comment
    .show-item_comment_form
      %label{:for => "msg"} 
      %textarea#msg{:name => "user_message"}

    /コメント入力フォーム
    .show-item_comment_notice
      = '相手のことを考え丁寧なコメントを心がけましょう。'
      = '不快な言葉遣いなどは利用制限や退会処分となることがあります。'
    .show-item_comment_btn
      %a.cta-btn{:href => "#"} コメントする

=render "share/exhibit-btn"
=render "share/download-banner"
=render "share/footer"