.show-item_nav
.show-item
  .show-item_main
    .show-item_main_name
      カニ
    .show-item_main_img
      .show-item_main_img_main
        /link_to画像メイン
      .show-item_main_img_sub
        .show-item_main_img_sub_content
          /サブ画像1
        .show-item_main_img_sub_content
          /サブ画像2
        .show-item_main_img_sub_content
          /サブ画像3
    .show-item_main_price
      .show-item_main_price_value
        ¥2,000
      .show-item_main_price_cost
        (税込み)送料込み
        /or送料負担 |select|string|null: false|
    .show-item_main_message
      親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。
    .show-item_main_detail
    /hamlに変換して使うbm
    .show-item_main_option
      お気に入りボタン
  .show-item_comment
    .show-item_comment_form
    /コメント入力フォーム
    .show-item_comment_migration
    /前・次ページへ移行
    .show-item_comment_moreItems
    /hamlに変換して使うbm