.card-content {
  width: 100vw;
  &_main {
    &_text {
    }
    &_box {
      padding: 40px 20%;
      width: 100%;
      &_top {
        margin-bottom: 5px;
        display: flex;
        .label {
          font-size: 14px;
          font-weight: bold;
        }
        .indispensable {
          background-color: red;
          color: white;
          height: 18px;
          font-size: 11px;
          font-weight: 600;
          padding: 0 4px;
          margin-left: 8px;
          border-radius: 2px;
        }
      }
      &_bottom {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        #card_number {
          padding: 10px 20px;
          width: 100%;
          border: solid 1px rgb(200, 200, 200);
          border-radius: 2px;
        }
        .select_half {
          width: 50%;
          #exp_month {
            width: 85%;
            height: 50px;
            border: solid 1px rgb(200, 200, 200);
            border-radius: 2px;
            background-color: white;
            font-size: 15px;
          }
          #exp_year {
            width: 85%;
            height: 50px;
            border: solid 1px rgb(200, 200, 200);
            border-radius: 2px;
            background-color: white;
          }
        }
        #cvc {
          padding: 10px 15px;
          width: 100%;
          border: solid 1px rgb(200, 200, 200);
          border-radius: 2px;
        }
      }
      #card_token {
        #token_submit {
          margin-top: 20px;
          padding: 10px 15px;
          width: 100%;
          border: none;
          border-radius: 0px;
          background-color: #3CCACE;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
