.card-select {
  width: 700px;
  height: 350px;
  background-color: white;
  &_title {
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  &_subtitle {
    font-size: 15px;
    font-weight: bold;
    padding: 60px 0 0 200px;
    position: relative;
  }
  &_add-btn {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 20px 0 20px 200px;
    padding: 15px;
    background-color: #3CCACE;
    color: white;
    font-size: 14px;
    text-align: center;
    &_icon {
      font-size: 16px;
    }
    &_text {
      font-size: 14px;
      margin-left: 10px;
      margin-top: 3px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &_info {
    height: 50px;
    border-top: 1px solid #f5f5f5;
    text-align: right;
    line-height: 80px;
    font-size: 14px;
    margin: 40px 80px 0;
    a {
      text-decoration: none;
      color: #0099e8;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }
    i3 {
      text-decoration: none;
      color: #0099e8;
    }
  }
}
