.logout {
  width: 700px;
  height: 180px;
  background-color: white;
  text-align: center;
  .logout-btn {
    line-height: 180px;
    padding: 18px 130px;
    background-color: #3CCACE;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
}
