.wrapper {
  width: 100vw;
  display: flex;
  background:rgb(245, 245, 245);
  padding: 40px 0;
  justify-content: center;
}

.mypage {
  min-width: 700px;
  &_profile {
    width: 100%;
    height: 18%;
    position: relative;
    &_image {
      position: absolute;
    }
    &_icon {
      position: relative;
      width: 70px;
      margin: auto;
      padding-top: 40px;
    }
    &_name {
      font-size: 14px;
    }
    &_item-length {
      font-size: 14px;
    }
  }
}

li {
  text-decoration: none;
}

.news-content {
  &_message {
    border: 1px solid #eee;
    color:#333;
    background-color: white;
    display: flex;
    position: relative;
    .logo-image {
      width: 40px;
      height: 40px;
    }
    &:hover {
      background-color: #eee;
    }
    i2 {
      float: right;
      position: absolute;
      top: 38px;
      right: 40px;
    }
    &_text {
      font-size: 14px;
      padding: 0 20px;
      line-height: 85px;
      word-wrap: break-word;
    }
    &_deal {
      display: block;
      margin-top: 80px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}


.purchase {
  max-width: 700px;
  &_text {
    height: 70px;
    margin-top: 40px;
    background-color: white;
    padding-left: 20px;
    line-height: 70px;
    font-weight: bold;
  }
  &_info {
    height: 60px;
    display: flex;
    line-height: 40px;
    font-weight: bold;
    line-height: 60px;
    &_dealing {
      width: 50%;
      border-top:2px solid #3CCACE;
      background-color: white;
      text-align: center;
    }
    &_purchased {
      width: 50%;
      background-color: rgb(226, 224, 224);
      text-align: center;
    }
  }
  &_detail {
    line-height: 290px;
    text-align: center;
    height: 280px;
    background-color: white;
    color: rgb(179, 178, 178);
    font-weight: bold;
  }
}

