.wrapper {
  width: 100%;
  display: flex;
  background:rgb(245, 245, 245);
  padding: 40px 0;
  justify-content: center;
  .left-box {

  }
  .right-box {
    width: 50%;
    height: 350px;
    min-width: 400px;
    background-color: white;
    a {
      text-decoration: none;
    }
  }
}

.mypage {
  width: 700px;
  min-width: 450px;
  margin-right: 10px;
  &_profile {
    width: 100%;
    height: 195px;
    position: relative;
    &_image {
      position: absolute;
      height: 100%;
    }
    &_content {
      width: 100%;
      position: absolute;
      &_icon {
        width: 70px;
        margin: auto;
        margin-top: 30px;
      }
      &_name {
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }
      &_item-length {
        width: 100%;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

.news-content {
  &_message {
    border: 1px solid #eee;
    color:#333;
    background-color: white;
    display: flex;
    position: relative;
    .logo-image {
      width: 32px;
      height: 35px;
      position: absolute;
      top: 25px;
      left: 25px;
    }
    i2 {
      float: right;
      position: absolute;
      top: 38px;
      right: 40px;
    }
    &_text {
      font-size: 14px;
      padding-left: 75px;
      line-height: 85px;
      word-wrap: break-word;
    }
    &_deal {
      display: block;
      margin-top: 80px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.purchase {
  max-width: 700px;
  &_text {
    height: 70px;
    margin-top: 40px;
    background-color: white;
    padding-left: 20px;
    line-height: 70px;
    font-weight: bold;
  }
  &_info {
    height: 60px;
    display: flex;
    line-height: 40px;
    font-weight: bold;
    line-height: 60px;
    &_dealing {
      width: 50%;
      border-top:2px solid #3CCACE;
      background-color: white;
      text-align: center;
    }
    &_purchased {
      width: 50%;
      background-color: rgb(226, 224, 224);
      text-align: center;
    }
  }
  &_detail {
    line-height: 290px;
    text-align: center;
    height: 280px;
    background-color: white;
    color: rgb(179, 178, 178);
    font-weight: bold;
  }
}

